<div class="box box-default">
	<div class="box-header">
		<h3 class="box-title">Tipo de Gasto: {{model.nombre}}</h3>
	</div><!-- /.box-header -->
	<div class="box-body">		
		<div class="col-md-12">
			<dl class="dl-horizontal">
				<dt>Nombre</dt>
				<dd>{{model.nombre}}</dd>
				<dt>Fecha de Creación</dt>
				<dd>{{model.created_at}}</dd>
				<dt>Creado Por</dt>
				<dd>{{model.created_by}}</dd>	
				<dt>Fecha de Actualización</dt>
				<dd>{{model.updated_at}}</dd>
				<dt>Actualizado Por</dt>
				<dd>{{model.updated_by}}</dd>						
			</dl>
		</div><!-- ./col -->
	</div><!-- /.box-body -->
	<div class="box-footer">
    {{#link-to 'tipogasto' class='btn btn-default'}}Volver{{/link-to}}
  </div><!-- /.box-footer -->
</div><!-- /.box -->